/.devpanel/dumps/
/.editorconfig
/.gitattributes
/.vscode/
/composer.json
/composer.lock
/config/
/logs/*
!/logs/README.md
/patches.lock.json
/private/
/recipes/
/vendor/
/web/
.ddev/.dbimageBuild
.ddev/.webimageBuild
.ddev/.ddev-docker-compose-base.yaml
.ddev/.ddev-docker-compose-full.yaml
.DS_Store